body {
  background-color: #fff4fd;
}

.navegacion {
  height: 23px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
}

.navegacion h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  margin-left: 0.6%;
}

.Goback {
  position: absolute;
  top: 79px;
  left: 60px;
  z-index: 1000;
}

.landing {
  position: relative;
  height: 121px;
  display: flex;
}

.landing .logo {
  flex: 193.6;
  position: relative;
  top: 39px;
  left: 8%;
}

.landing .combos {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 44px;
  flex: 1104.9;
}

.landing .combos .combo-item {
  margin-left: 1.1%;
}

.landing .combos .boton .boton-tipo-1 button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin: 0;
  border: 0;
  padding: 0;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  height: 36px;
  width: 144px;
}

.landing .combos .dropdown {
  width: 167px;
  height: 36px;
}

.landing .combos .dropdown .contenedor-ListaTemas {
  display: none;
  height: 102px;
  position: absolute;
  top: 36px;
  z-index: 1000;
  margin: 0;
  width: 163px;
  height: 102px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.landing .combos .dropdown .contenedor-ListaTemas button {
  width: 150px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.landing .combos .dropdown .contenedor-ListaTemas .day {
  position: absolute;
  left: 6px;
  top: 10px;
  background: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.landing .combos .dropdown .contenedor-ListaTemas .day span {
  text-decoration: underline;
}

.landing .combos .dropdown .contenedor-ListaTemas .night {
  position: absolute;
  left: 6px;
  bottom: 10px;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.landing .combos .dropdown .boton a {
  text-decoration: none;
}

.landing .combos .dropdown .boton .boton-tipo-4 {
  display: flex;
}

.landing .combos .dropdown .boton .boton-tipo-4 button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin: 0;
  border: 0;
  padding: 0;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.landing .combos .dropdown .boton .boton-tipo-4 button:first-child {
  flex: 131;
  height: 36px;
}

.landing .combos .dropdown .boton .boton-tipo-4 button:last-child {
  flex: 36;
  height: 36px;
}

.landing .combos .enlace {
  border: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

.landing .combos .enlace a {
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
}

.landing .combos .enlace a span {
  text-decoration: underline;
}

.landing .empty {
  flex: 140.5;
}

.modalActive {
  height: 535px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3px;
}

.modalActive .contenedorModal {
  height: 386px;
  width: 684px;
  position: absolute;
  top: 56px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.modalActive .contenedorModal .headCrear {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  height: 24px;
  position: relative;
}

.modalActive .contenedorModal .headCrear h3 {
  border: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  position: absolute;
  left: 7px;
  top: 3.4px;
}

.modalActive .contenedorModal .bodyCrear .seccionTitulo {
  height: 69px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.modalActive .contenedorModal .bodyCrear .seccionTitulo h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 30px;
  left: 73px;
}

.modalActive .contenedorModal .bodyCrear .seccionTitulo div {
  position: absolute;
  top: 30px;
  left: 25px;
}

.modalActive .contenedorModal .bodyCrear .seccionBody {
  height: 190px;
}

.modalActive .contenedorModal .bodyCrear .seccionBody p {
  margin: 0;
  margin-left: 73px;
  margin-right: 93px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.modalActive .contenedorModal .bodyCrear .seccionBody p span {
  font-weight: 700;
  font-style: italic;
}

.modalActive .contenedorModal .bodyCrear .seccionBody ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.modalActive .contenedorModal .bodyCrear .seccionBody ul li {
  margin: 0;
  margin-left: 73px;
  margin-bottom: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.modalActive .contenedorModal .bodyCrear .seccionBody ul li span {
  font-weight: 700;
}

.modalActive .contenedorModal .bodyCrear .seccionBotones {
  height: 100px;
  position: relative;
}

.modalActive .contenedorModal .bodyCrear .seccionBotones button {
  height: 36px;
  width: 144px;
}

.modalActive .contenedorModal .bodyCrear .seccionBotones button h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.modalActive .contenedorModal .bodyCrear .seccionBotones .boton-1-modal {
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  position: absolute;
  left: 344px;
  top: 28px;
}

.modalActive .contenedorModal .bodyCrear .seccionBotones .boton-2-modal {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  position: absolute;
  right: 36px;
  bottom: 36px;
}

.chequeoActive {
  height: 882px;
  display: flex;
  justify-content: center;
}

.chequeoActive .contenidoChequeo {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  height: 548px;
  width: 860px;
}

.chequeoActive .contenidoChequeo .headingChequeo {
  height: 24px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  position: relative;
}

.chequeoActive .contenidoChequeo .headingChequeo h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  position: absolute;
  left: 3px;
  top: 6.4px;
}

.chequeoActive .contenidoChequeo .bodyChequeo {
  height: 524px;
  width: 860px;
  display: flex;
  justify-content: center;
  position: relative;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenChequeo,
.chequeoActive .contenidoChequeo .bodyChequeo .imagenPrevia,
.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo {
  position: absolute;
  top: 8px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  height: 440px;
  width: 832px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo {
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  position: relative;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo h3 span {
  text-decoration: line-through;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .textProgressBar {
  position: absolute;
  top: 288px;
  left: 302.5px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .PlanetaSubiendo {
  position: relative;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .PlanetaSubiendo img {
  position: absolute;
  top: 139px;
  left: 398px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .PlanetaSubiendo h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  position: absolute;
  top: 195px;
  left: 314.5px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .ProgressBar {
  width: 324px;
  height: 24px;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #fffcfc, inset 2px 2px 0 0 #000000;
  position: absolute;
  left: 257px;
  top: 256px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .ProgressBar .BarContainer {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 2px;
  left: 2px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .imagenSubiendo .ProgressBar .ProgressElement {
  width: 12px;
  height: 20px;
  background: #999999;
  margin-right: 2px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion {
  width: 266px;
  height: 24px;
  position: absolute;
  z-index: 2000;
  background: #e6e6e6;
  left: 159px;
  bottom: 24px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .botonPlay {
  width: 20px;
  height: 20px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  position: relative;
  top: 1px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .botonPlay .imagenBotonPlay {
  position: absolute;
  left: 8px;
  top: 5px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion {
  width: 240px;
  height: 24px;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #fffcfc, inset 2px 2px 0 0 #000000;
  position: absolute;
  top: 0;
  right: 0;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .contenedorDivsProgreso {
  display: flex;
  position: absolute;
  left: 2px;
  top: 2px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .contenedorDivsProgreso .index0 {
  background: #f7c9f3;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .contenedorDivsProgreso .index1 {
  background: #f7c9f3;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .contenedorDivsProgreso .index2 {
  background: #f7c9f3;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .contenedorDivsProgreso .index3 {
  background: #f7c9f3;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .contenedorDivsProgreso .index4 {
  background: #f7c9f3;
}

.chequeoActive .contenidoChequeo .bodyChequeo .barraReproduccion .barraProgresoReproduccion .progressDiv {
  width: 12px;
  height: 20px;
  background: #999999;
  margin-right: 2px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .repetirCaptura {
  position: absolute;
  right: 174px;
  bottom: 16px;
  z-index: 1000;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  height: 36px;
  width: 144px;
  display: none;
}

.chequeoActive .contenidoChequeo .bodyChequeo .repetirCaptura h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 9px;
  left: 13.5px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .timer {
  position: absolute;
  z-index: 1000;
  height: 36px;
  width: 124px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  left: 11px;
  bottom: 16px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .timer .contenedorTimer {
  display: flex;
  position: absolute;
  bottom: 7px;
  left: 21px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .timer h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
}

.chequeoActive .contenidoChequeo .bodyChequeo .botonCancelar {
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 144px;
  height: 36px;
  position: absolute;
  left: 702px;
  top: 464px;
  display: none;
}

.chequeoActive .contenidoChequeo .bodyChequeo .botonCancelar h3 {
  font-family: "Chakra Petch", sans-serif;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 39.5px;
  top: 9px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .CopiarlEnlace,
.chequeoActive .contenidoChequeo .bodyChequeo .DescargarGuifo {
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 256px;
  height: 36px;
  position: absolute;
  right: 46px;
  top: 87px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .DescargarGuifo {
  top: 137px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .Listo {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 144px;
  height: 36px;
  position: absolute;
  bottom: 44px;
  right: 46px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .textoGuifoSubido {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  left: 419px;
  margin: 0;
  top: 49px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .CopiarlEnlace h3,
.chequeoActive .contenidoChequeo .bodyChequeo .DescargarGuifo h3,
.chequeoActive .contenidoChequeo .bodyChequeo .Listo h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .subir {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1000;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  height: 36px;
  width: 144px;
  display: none;
}

.chequeoActive .contenidoChequeo .bodyChequeo .subir h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 9px;
  left: 31.5px;
}

.chequeoActive .contenidoChequeo .bodyChequeo .botonCapturar {
  height: 36px;
  width: 180px;
  position: absolute;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  right: 16px;
  bottom: 16px;
  display: flex;
}

.chequeoActive .contenidoChequeo .bodyChequeo .botonCapturar .divCamera {
  width: 36px;
  height: 34px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #110038;
}

.chequeoActive .contenidoChequeo .bodyChequeo .botonCapturar .divTexto {
  width: 144px;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
}

.chequeoActive .contenidoChequeo .bodyChequeo .botonCapturar h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  position: absolute;
  left: 37.5px;
  top: 9px;
}

.chequeoActive .Minimizar {
  width: 721px;
  height: 391px;
}

.chequeoActive .Minimizar .bodyChequeo {
  width: 721px;
  height: 367px;
}

.chequeoActive .Minimizar .bodyChequeo .imagenPrevia {
  height: 191px;
  width: 365px;
  top: 29px;
  left: 27px;
}

.busqueda {
  max-width: 1438px;
  height: 99px;
  display: flex;
  justify-content: center;
}

.busqueda .contenedor-busqueda {
  height: 99px;
  width: 83.022%;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: flex;
  flex-direction: column;
}

.busqueda .contenedor-busqueda .titulo {
  flex: 24;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.busqueda .contenedor-busqueda .titulo h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  position: relative;
  left: 6px;
  top: 6px;
}

.busqueda .contenedor-busqueda .zona-busqueda {
  flex: 75;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.busqueda .contenedor-busqueda .zona-busqueda form {
  position: relative;
  top: 13px;
  display: flex;
}

.busqueda .contenedor-busqueda .zona-busqueda form .empty-1 {
  flex: 15;
}

.busqueda .contenedor-busqueda .zona-busqueda form input[type="text"] {
  height: 48px;
  flex: 1057;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding-left: 16px;
}

.busqueda .contenedor-busqueda .zona-busqueda form input[type="text"]::-webkit-input-placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}

.busqueda .contenedor-busqueda .zona-busqueda form input[type="text"]::-moz-placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}

.busqueda .contenedor-busqueda .zona-busqueda form input[type="text"]:-ms-input-placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}

.busqueda .contenedor-busqueda .zona-busqueda form input[type="text"]::-ms-input-placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}

.busqueda .contenedor-busqueda .zona-busqueda form input[type="text"]::placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}

.busqueda .contenedor-busqueda .zona-busqueda form .empty-2 {
  flex: 8;
}

.busqueda .contenedor-busqueda .zona-busqueda form .boton-submit {
  flex: 102;
  height: 36px;
  position: relative;
  top: 6px;
}

.busqueda .contenedor-busqueda .zona-busqueda form .boton-submit a {
  text-decoration: none;
}

.busqueda .contenedor-busqueda .zona-busqueda form .boton-submit button {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.busqueda .contenedor-busqueda .zona-busqueda form .boton-submit button .lupa {
  width: 16px;
  height: 16px;
}

.busqueda .contenedor-busqueda .zona-busqueda form .boton-submit button h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.busqueda .contenedor-busqueda .zona-busqueda form .empty-3 {
  flex: 18;
}

.sugerencias {
  height: 428px;
  max-width: 83.3%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.sugerencias .card {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 4px;
  height: 313px;
  width: 263px;
}

.sugerencias .card img {
  width: 263px;
  height: 286px;
  padding-top: 2px;
}

.sugerencias .empty-1 {
  flex: 14.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.sugerencias .empty-1 .botonQueAparece button {
  width: 91%;
  height: 34px;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.sugerencias .empty-1 .botonQueAparece button h3 {
  margin: 0;
  text-align: left;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.sugerencias .heading {
  flex: 7.4;
  margin: 0;
  padding: 0;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.sugerencias .heading h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  font-weight: 400;
  position: relative;
  top: 7px;
  left: 7px;
}

.sugerencias .empty-2 {
  flex: 5.14;
}

.sugerencias .resultados-sugeridos {
  flex: 73.13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sugerencias .resultados-sugeridos .card-heading {
  height: 24px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  display: flex;
  position: relative;
  justify-content: space-between;
}

.sugerencias .resultados-sugeridos .card-heading h3 {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  top: -5px;
  right: -6px;
}

.sugerencias .resultados-sugeridos .card-heading img {
  width: 16px;
  height: 14px;
  position: relative;
  top: 4px;
  right: 4px;
}

.sugerencias .resultados-sugeridos .gif {
  position: relative;
}

.sugerencias .resultados-sugeridos .gif .boton {
  position: absolute;
  top: 237px;
  left: 14px;
}

.sugerencias .resultados-sugeridos .gif .boton button {
  margin: 0;
  padding: 8px 10px;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.tendencias {
  height: 1900px;
  max-width: 83.3%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.tendencias .card {
  position: relative;
  margin-bottom: 10px;
}

.tendencias .card:hover {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.tendencias .card:hover .cabeceraGif {
  opacity: 1;
}

.tendencias .card img {
  width: 263px;
  height: 284px;
}

.tendencias .card .cabeceraGif {
  position: absolute;
  z-index: 1000;
  right: 4px;
  left: 4px;
  bottom: 4px;
  opacity: 0;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  width: 98%;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tendencias .particularCard img {
  width: 549px;
}

.tendencias .particularCard .cabeceraGif {
  width: 99%;
}

.tendencias .empty-1 {
  flex: 64;
  display: flex;
}

.tendencias .empty-1 button {
  padding: 8px 12px 8px 7px;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 8px;
  margin-top: 12px;
}

.tendencias .heading {
  flex: 32;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  height: 32px;
}

.tendencias .heading h3 {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  font-weight: 400;
  position: relative;
  top: 7px;
  left: 7px;
}

.tendencias .empty-2 {
  flex: 17;
}

.tendencias .resultados-tendencias {
  flex: 1570;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
