//Fuentes
$fuente-principal: "Chakra Petch", sans-serif;

//Colores
$primero: #f7c9f3;
$segundo: #4180f6;
$tercero: #110038;
$cuarto: #997d97;
$quinto: #808080;
$sexto: #b4b4b4;
$septimo: #ffffff;
$octavo: #e6bbe2;
$noveno: #e6dce4;
$decimo: #4c2f99;
$decimo-primero: #284f99;
$decimo-segundo: #fffafe;
$decimo-tercero: #ee3efe;
$decimo-cuarto: #2e32fb;
$decimo-quinto: #2124b3;
$decimo-sexto: #8f8f8f;
$decimo-septimo: #fff4fd;
$decimo-octavo: #e6e6e6;
$decimo-noveno: #000000;
$vigesimo: #979797;
$vigesimo-primero: #80687d;
$vigesiomo-segundo: #cca6c9;
$vigesimo-tercero: #f0f0f0;
$vigesimo-cuarto: #fffcfc;
$vigesimo-quinto: #999999;
